
<div class="container" style="text-align:center;">
  
    <h2>What is the percentage of Water in Earth ?</h2>
        <div class="row clearfix">
            <div #container class="mProgressContain text-center" style="width: 70px;height: 180px;">
              <div class="mProgress0"></div>
              <div #canvfill class="mProgress1"></div>
            </div>
          </div>
    <!-- <button type="button" class="btn btn-primary" (click)="goTo();">Next</button> -->
    <button id="send" type="button" class="btn btn-primary" (click)="send()">Send</button>
    <button id="send" type="button" class="btn btn-primary" (click)="goTo()">GoTo</button>
  </div>
  